@model CW3Blog.ViewModels.BlogPostCommentsViewModel
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Details";
}

@{
    string CurrentDateTime = DateTime.Now.ToString("s");
}

<h2>Details</h2>

<div>
    <h4>Blog Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.AuthorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.AuthorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.CreatedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.CreatedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogPost.Content)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogPost.Content)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Comments
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Comments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Leave a Comment</h4>
<hr />
@if (SignInManager.IsSignedIn(User))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Details">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="BlogPostID" value="@Model.BlogPost.ID" />
                <div class="form-group">
                    <input type="hidden" input asp-for="AuthorName" class="form-control" value=@UserManager.GetUserName(User) />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" input asp-for="CreatedTime" class="form-control" value="@CurrentDateTime" />
                    <span asp-validation-for="CreatedTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <h5>Please log in to leave a comment.</h5>
}

    <div>
        <a asp-action="Edit" asp-route-id="@Model.BlogPost.ID">Edit Blog Post</a> |
        <a asp-action="Index">Back to List</a>
    </div>
